
.page-fields {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 200px;
}

.top-buttons {
  font-weight: bold;
  display: flex;
  margin-left: auto;
}

.svg-icon {
  display: flex;
  align-items: center;
  flex-direction: row;

  button:first-child {
    margin-left: auto;
    margin-right: 2em;
  }
}

.cdk-drag-preview {
  .mat-cell {
    border-bottom: none !important;
  }

  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  background: white;

  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.page-fields.cdk-drop-list-dragging .form-field-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-row {
  cursor: default;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mat-header-cell {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-right: 1em;
}

.mat-cell {
  padding-right: 1em;
}

@media screen and (max-width: 959px) {
  tr.mat-header-row {
    display: none;
  }

  .mat-table {
    display: flex;
    flex-direction: column;
  }

  .mat-row {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: [left] auto [right] 40px;
    height: auto !important;
    border: unset;

    padding: 0.5em 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }

  .mat-cell {
    padding-left: 0 !important;
    border-bottom: none !important;
    grid-area: auto / left;
    box-sizing: border-box;
  }

  .mat-cell:last-child {
    grid-area: 1 / right / 1000 / right;
    padding-right: 0 !important;

    > .svg-icon {
      height: 100%;
      flex-direction: column-reverse;
      justify-content: space-between;

      button:first-child {
        margin-left: unset;
        margin-right: unset;
      }
    }
  }

  .mat-cell:not(:last-child):before {
    content: attr(data-label);
    font-size: 1em;
    font-weight: bold;
    padding-right: 0.5em;
  }
}
