
<div *ngIf="!field.templateOptions?.label">
  <label class="body-text">
    {{ field.templateOptions?.label | tokens: field.templateOptions }} {{ field.templateOptions?.required ? '*' : '' }}
  </label>
</div>

<div class="flex fill-width" *ngIf="to.showAddButton">
  <div class="top-buttons center-content body-text" [style.margin-left]="'auto'">
    <button type="button" mat-button (click)="add()">
      <div class="center-content" [ngClass]="to.addButtonConfig?.classes">
        <mat-icon *ngIf="!to.addButtonConfig?.hideIcon">add</mat-icon>

        <div [ngClass]="{ 'pad-left-half': !to.addButtonConfig?.hideIcon }">
          {{ to.addButtonConfig?.buttonText || ('Add' | translate) }}
        </div>
      </div>
    </button>
  </div>
</div>

<div class="pages">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let page of field.fieldGroup" [id]="page.id" (closed)="page.formControl?.markAllAsTouched()">

      <mat-expansion-panel-header class="expansion-header">
        <div class="fill center-content">
          <mat-panel-title class="page-summary subtitle-filled">
            <div class="summary-row" *ngFor="let column of to.columns">
              <div class="row-label">{{ column.label }}</div>{{ getValue(page.model.fields, column.path) }}
            </div>
          </mat-panel-title>

          <div style="margin-left: auto; margin-right: 1em;">
            <div class="center-content error" *ngIf="page.formControl?.touched && page.formControl?.invalid" matTooltip="{{ 'Contains errors' | translate }}">
              <mat-icon>error</mat-icon>
              {{ page.content }}
            </div>
          </div>
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="flex fill-width" *ngIf="!page.model.required">
          <div class="top-buttons center-content body-text" [style.margin-left]="'auto'">
            <button type="button" mat-button (click)="remove(page)">
              <div class="center-content" [ngClass]="to.removeButtonConfig?.classes">
                <mat-icon>delete_forever</mat-icon>

                <div [ngClass]="{ 'pad-left-half': !to.removeButtonConfig?.hideIcon }">
                  {{ to.removeButtonConfig?.buttonText || ('Remove' | translate) }}
                </div>
              </div>
            </button>
          </div>
        </div>

        <div [ngClass]="{ 'pad-half': !isMobile }" *ngIf="getFields(page) as fields">
          <formly-field [field]="fields"></formly-field>
        </div>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="errors-and-hints">
  <!-- This should remain hidden as its built from Formly's error states and will not pipe to tokens -->
  <formly-validation-message #validationMessage [field]="field" [style.display]="'none'"></formly-validation-message>

  <mat-error *ngIf="validationMessage.errorMessage && field.formControl?.touched" class="body-text error-text">
    <ng-container *ngIf="validationMessage.errorMessage | isArray; else stringErrorMessage">
      <ng-container *ngFor="let errorMessage of validationMessage.errorMessage; let last = last;">
        {{ errorMessage }}<br *ngIf="!last">
      </ng-container>
    </ng-container>

    <ng-template #stringErrorMessage>
      {{ validationMessage.errorMessage | tokens: field.templateOptions }}
    </ng-template>
  </mat-error>

  <mat-hint *ngIf="field.templateOptions?.hint && !(validationMessage.errorMessage && field.formControl?.touched)" class="body-text">{{ field.templateOptions?.hint | tokens: field.templateOptions }}</mat-hint>
</div>