
:host ::ng-deep .mat-expansion-panel-content {
  @media screen and (max-width: 960px) {
    padding: 0.5em 0.25em;
  }
}

:host ::ng-deep .mat-expansion-panel-body {
  @media screen and (max-width: 960px) {
    padding: 0;
  }
}

.page-row {
  display: flex;
  flex-direction: row;
}

.pages {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.expansion-header {
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;

  @media screen and (max-width: 960px) {
    padding: 0.5em 0.25em;
  }
}

.page-summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .summary-row {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  .row-label {
    font-weight: bold;
    margin-right: 0.5em;
    flex-wrap: nowrap;
  }
}

.top-buttons {
  font-weight: bold;
  display: flex;
  margin-left: auto;
  margin-top: 0.5em;
}

.error {
  color: #b00020;
}
