<mat-vertical-stepper *ngIf="to.verticalStepper; else horizontalstepper"
  [labelPosition]="to.labelPosition || 'bottom'"
  [linear]="to.linear"
  [selectedIndex]="selectedIndex"
  (selectionChange)="incrementPageFromIndex($event.selectedIndex)">

  <mat-step *ngFor="let page of field.fieldGroup; let index = index"
    [hasError]="step.interacted && page.formControl?.invalid && page.formControl?.touched"
    [optional]="page.templateOptions?.isOptional || false"
    [stepControl]="page.formControl"
    [state]="getPageState(page)"
    #step>

    <ng-template matStepLabel>
      {{ (page.templateOptions._translationKey + '.label') | translate | tokens: to }}
    </ng-template>

    <formly-field [field]="page" *ngIf="selectedIndex === index" [ngClass]="page.templateOptions?.classes"></formly-field>
  </mat-step>

  <ng-template *ngFor="let state of to.pageStates | keyvalue" [matStepperIcon]="state.key">
    <mat-icon [ngClass]="state.value.class">{{ state.value.icon }}</mat-icon>
  </ng-template>

  <ng-template *ngIf="!to.pageStates || !to.pageStates['page-error']" matStepperIcon="page-error">
    <mat-icon class="material-icons page-error">warning</mat-icon>
  </ng-template>
</mat-vertical-stepper>

<ng-template #horizontalstepper>
  <mat-horizontal-stepper
    [labelPosition]="!isMobile && to.labelPosition || 'bottom'"
    [linear]="to.linear"
    [selectedIndex]="selectedIndex"
    (selectionChange)="incrementPageFromIndex($event.selectedIndex)">

    <mat-step *ngFor="let page of field.fieldGroup; let index = index"
      [hasError]="step.interacted && page.formControl?.invalid && page.formControl?.touched"
      [optional]="page.templateOptions?.isOptional || false"
      [stepControl]="page.formControl"
      [state]="getPageState(page)"
      #step>

      <formly-field *ngIf="selectedIndex === index" [field]="page" [ngClass]="page.templateOptions?.classes"></formly-field>

      <ng-template matStepLabel>
        {{ (page.templateOptions._translationKey + '.label') | translate | tokens: to }}
      </ng-template>
    </mat-step>

    <ng-template *ngFor="let state of to.pageStates | keyvalue" [matStepperIcon]="state.key">
      <mat-icon [ngClass]="state.value.class">{{ state.value.icon }}</mat-icon>
    </ng-template>

    <ng-template *ngIf="!to.pageStates || !to.pageStates['page-error']" matStepperIcon="page-error">
      <mat-icon class="material-icons page-error">warning</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</ng-template>

<div class="form-controls-wrapper" *ngIf="!to.hideButtons">
  <div class="form-controls">

    <div class="margin-right-2">
      <button *ngIf="selectedIndex !== 0 && hasBackPage(selectedIndex)"
        mat-raised-button
        type="button"
        color="primary"
        (click)="decrementPageFromIndex(selectedIndex - 1)">

        <div translate>Back</div>
      </button>
    </div>

    <button *ngIf="hasForwardPage(selectedIndex)"
      mat-raised-button
      type="button"
      color="primary"
      [disabled]="to.linear && isPrecedingPageInvalid(selectedIndex)"
      (click)="incrementPageFromIndex(selectedIndex + 1)">

      <div translate>Continue</div>
    </button>

    <button *ngIf="!to.hideSubmit && !hasForwardPage(selectedIndex)"
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="form.invalid">

      <div translate>Submit</div>
    </button>
  </div>
</div>