<mat-horizontal-stepper
  [labelPosition]="!isMobile && props.labelPosition || 'bottom'"
  [linear]="props.linear"
  [selectedIndex]="selectedIndex"
  (selectionChange)="incrementPageFromIndex($event.selectedIndex)">

  <mat-step *ngFor="let page of field.fieldGroup; let index = index"
    [hasError]="step.interacted && page.formControl?.invalid && page.formControl?.touched"
    [optional]="page.props?.isOptional || false"
    [stepControl]="page.formControl!"
    [state]="getPageState(page)"
    #step>

    <formly-field *ngIf="selectedIndex === index" [field]="page" [ngClass]="page.props?.classes"></formly-field>

    <ng-template matStepLabel>
      {{ page.props?.label }}
    </ng-template>
  </mat-step>

  <ng-template *ngFor="let state of pageStates | keyvalue" [matStepperIcon]="state.key">
    <mat-icon [ngClass]="state.value.class">{{ state.value.icon }}</mat-icon>
  </ng-template>

  <ng-template *ngIf="!props.pageStates?.['page-error']" matStepperIcon="page-error">
    <mat-icon class="material-icons page-error">warning</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

<div class="form-controls-wrapper" *ngIf="!props.hideButtons">
  <div class="form-controls">

    <div class="margin-right-2">
      <button *ngIf="selectedIndex !== 0 && hasBackPage(selectedIndex)"
        mat-raised-button
        type="button"
        color="primary"
        (click)="decrementPageFromIndex(selectedIndex - 1)">

        <div>Back</div>
      </button>
    </div>

    <button *ngIf="hasForwardPage(selectedIndex)"
      mat-raised-button
      type="button"
      color="primary"
      [disabled]="props.linear && isPrecedingPageInvalid(selectedIndex)"
      (click)="incrementPageFromIndex(selectedIndex + 1)">

      <div>Continue</div>
    </button>

    <button *ngIf="!props.hideSubmit && !hasForwardPage(selectedIndex)"
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="form.invalid">

      <div>Submit</div>
    </button>
  </div>
</div>