<div *ngIf="!to.encapsulateLabel" class="flex body-text">
  <label [for]="field.id" [innerHTML]="((to._translationBaseKey + '.label') | translate) + (to.required ? ' *' : '') | tokens: to | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="(to._translationBaseKey + '.help') | translate | tokens: to" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="select-dropdown-field"
  [ngClass]="{ 'no-label': !to.encapsulateLabel }"
  [appearance]="to.encapsulateLabel && to.appearance ? to.appearance : 'outline'"
  [floatLabel]="to.floatLabel || 'always'">

  <mat-label *ngIf="to.encapsulateLabel" [for]="field.id" class="body-text">
    {{ (to._translationBaseKey + '.label') | translate | tokens: to }}
  </mat-label>

  <input matInput
    type="text"
    autocomplete="off"
    #autocompleteinput
    [id]="field.id"
    [attr.aria-label]="(to._translationBaseKey + '.label') | translate | tokens: to"
    [placeholder]="(to._translationBaseKey + '.placeholder') | translate | tokens: to"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0"
    [matAutocomplete]="auto" />

  <button *ngIf="formControl.value" matSuffix mat-icon-button [aria-label]="'Clear Selection' | translate" [style.max-height]="'34px'"
    (click)="$event.stopPropagation(); autoCompleteTrigger?.openPanel(); formControl.setValue(null); autocompleteinput.focus()">
    <mat-icon [inline]="true">close</mat-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    [aria-labelledby]="field.id"
    [autoActiveFirstOption]="to.autoActiveFirstOption"
    [classList]="to.autoCompleteClasses || ''"
    [disableRipple]="to.disableRipple"
    [displayWith]="getDisplayLabel"
    (optionSelected)="selectionChange($event)">

    <ng-container *ngFor="let item of filteredSelectOptions$ | async | sortOptions">
      <mat-optgroup *ngIf="item.group" [label]="item.label" [disabled]="item.disabled">
        <mat-option class="mat-option-wrap" *ngFor="let groupItem of item.group | sortOptions" [value]="groupItem[valueProp]" [disabled]="groupItem.disabled">
          {{ groupItem[labelProp] }}
        </mat-option>
      </mat-optgroup>

      <mat-option class="mat-option-wrap" *ngIf="!item.group" [value]="item[valueProp]" [disabled]="item.disabled">
        {{ item[labelProp] }}
      </mat-option>
    </ng-container>

  </mat-autocomplete>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>