<div *ngIf="!to.encapsulateLabel" class="flex body-text">
  <label [for]="field.id" [innerHTML]="((to._translationKey + '.label') | translate) + (to.required ? ' *' : '') | tokens: to | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="(to._translationKey + '.help') | translate | tokens: to" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field class="textarea-wrapper"
  [appearance]="to.appearance || 'outline'"
  [floatLabel]="to.floatLabel || 'always'"
  [ngClass]="{ 'no-label': !to.encapsulateLabel }">

  <mat-label *ngIf="to.encapsulateLabel" class="body-text">
    {{ (to._translationKey + '.label') | translate | tokens: to }}
  </mat-label>

  <textarea
    matInput
    class="body-text textarea"
    autocomplete="off"
    resizeToFitContent="false"
    [spellcheck]="true"
    [cdkTextareaAutosize]="true"
    [id]="field.id"
    [cdkAutosizeMinRows]="to.minRows || 4"
    [required]="to.required || false"
    [placeholder]="(to._translationKey + '.placeholder') | translate | tokens: to"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0">
  </textarea>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>