<div *ngIf="props.showLabelAbove" class="flex">
  <label [for]="field.id" [innerHTML]="props.label + (props.required ? ' *' : '') | keepHtml"></label>

  <mat-icon *ngIf="props.help" class="label-help" [matTooltip]="props.help" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="textarea-wrapper"
  [appearance]="!props.showLabelAbove && props.appearance ? props.appearance : 'outline'"
  [floatLabel]="props.floatLabel || 'always'"
  [ngClass]="{ 'no-label': props.showLabelAbove }">

  <mat-label *ngIf="!props.showLabelAbove">
    {{ props.label }}
  </mat-label>

  <textarea
    matInput
    class="textarea"
    autocomplete="off"
    resizeToFitContent="false"
    [spellcheck]="true"
    [cdkTextareaAutosize]="true"
    [id]="field.id!"
    [cdkAutosizeMinRows]="props.minRows || 4"
    [required]="props.required ?? false"
    [placeholder]="props.placeholder ?? ''"
    [formControl]="$any(formControl)"
    [formlyAttributes]="field"
    [tabindex]="props.tabindex ?? 0">
  </textarea>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>