<div class="stepper-form-container">
  <mat-vertical-stepper
    [labelPosition]="props.labelPosition || 'bottom'"
    [linear]="props.linear"
    [selectedIndex]="selectedIndex"
    [ngClass]="{ 'hide-internal-stepper-container': !props.internalPagination }"
    (selectionChange)="incrementPageFromIndex($event.selectedIndex)">

    <mat-step *ngFor="let page of field.fieldGroup; let index = index"
      [hasError]="step.interacted && page.formControl?.invalid && page.formControl?.touched"
      [optional]="page.props?.isOptional ?? false"
      [stepControl]="page.formControl!"
      [state]="getPageState(page)"
      #step>

      <ng-template matStepLabel>
        <div
          [matTooltip]="getPageErrors(page?.formControl)"
          [matTooltipClass]="'use-new-line'"
          [matTooltipDisabled]="!(step.interacted && page.formControl?.invalid && page.formControl?.touched)"
          >
          <div class="mat-step-text-label">
            {{ page.props?.label }}
          </div>

          <div class="mat-step-sub-label-error" *ngIf="step.interacted && page.formControl?.invalid && page.formControl?.touched">
            {{ getPageErrors(page?.formControl, 50) }}
          </div>
        </div>
      </ng-template>

      <ng-container *ngIf="props.internalPagination">
        <formly-field [field]="page" *ngIf="selectedIndex === index" [ngClass]="page.props?.classes"></formly-field>
      </ng-container>
    </mat-step>

    <ng-template *ngFor="let state of pageStates | keyvalue" [matStepperIcon]="state.key">
      <mat-icon [ngClass]="state.value.class">{{ state.value.icon }}</mat-icon>
    </ng-template>

    <ng-template *ngIf="!props.pageStates?.['page-error']" matStepperIcon="page-error">
      <mat-icon class="material-icons page-error">warning</mat-icon>
    </ng-template>
  </mat-vertical-stepper>

  <formly-field
    *ngIf="currentPage && !props.internalPagination"
    class="stepper-form"
    [field]="currentPage"
    [ngClass]="currentPage.props?.classes">
  </formly-field>

  <formly-validation-message *ngIf="currentPage" [field]="currentPage"></formly-validation-message>
</div>

<div class="form-controls-wrapper" *ngIf="!props.hideButtons">
  <div class="form-controls">

    <div class="margin-right-2">
      <button *ngIf="selectedIndex !== 0 && hasBackPage(selectedIndex)"
        mat-raised-button
        type="button"
        color="primary"
        (click)="decrementPageFromIndex(selectedIndex - 1)">

        <div>Back</div>
      </button>
    </div>

    <button *ngIf="hasForwardPage(selectedIndex)"
      mat-raised-button
      type="button"
      color="primary"
      [disabled]="props.linear && isPrecedingPageInvalid(selectedIndex)"
      (click)="incrementPageFromIndex(selectedIndex + 1)">

      <div>Continue</div>
    </button>

    <button *ngIf="!props.hideSubmit && !hasForwardPage(selectedIndex)"
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="form.invalid">

      <div>Submit</div>
    </button>
  </div>
</div>