<div *ngIf="!to.encapsulateLabel" class="flex body-text">
  <label [for]="field.id" [innerHTML]="(to._translationKeyLabel | translate) + (to.required ? ' *' : '') | tokens: to | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="to._translationKeyHelp | translate | tokens: to" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="select-dropdown-field"
  [ngClass]="{ 'no-label': !to.encapsulateLabel }"
  [appearance]="to.encapsulateLabel && to.appearance ? to.appearance : 'outline'"
  [floatLabel]="to.floatLabel || 'always'">

  <mat-label *ngIf="to.encapsulateLabel" [for]="field.id" class="body-text">
    {{ to._translationKeyLabel | translate | tokens: to }}
  </mat-label>

  <input matInput
    type="text"
    autocomplete="off"
    #autocompleteinput
    [id]="field.id!"
    [required]="to.required || false"
    [attr.aria-label]="to._translationKeyLabel | translate | tokens: to"
    [placeholder]="to._translationKeyPlaceholder | translate | tokens: to"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0"
    [matAutocomplete]="auto" />

  <button *ngIf="formControl.value" matSuffix mat-icon-button [attr.aria-label]="'Clear Selection' | translate" [style.max-height]="'34px'"
    (click)="$event.stopPropagation(); autoCompleteTrigger?.openPanel(); formControl.setValue(null); autocompleteinput.focus()">
    <mat-icon [inline]="true">close</mat-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    [attr.aria-labelledby]="field.id"
    [autoActiveFirstOption]="to.autoActiveFirstOption"
    [classList]="to.autoCompleteClasses || ''"
    [disableRipple]="to.disableRipple"
    [displayWith]="getDisplayLabel"
    (optionSelected)="selectionChange($event)">

    <cdk-virtual-scroll-viewport
      maxBufferPx="512"
      [itemSize]="itemHeight"
      [minBufferPx]="viewportHeight"
      [ngStyle]="{ 'height': viewportHeight + 'px' }" class="select-autocomplete-virtual-scroll">

      <ng-container *cdkVirtualFor="let item of filteredSelectOptions$ | async | sortOptions">
        <mat-optgroup *ngIf="item.group" [label]="item.label" [disabled]="item.disabled">
          <mat-option class="mat-option-wrap" *ngFor="let groupItem of item.group | sortOptions" [value]="groupItem[valueProp]" [disabled]="groupItem.disabled">
            {{ groupItem[labelProp] | translate | tokens: to }}
          </mat-option>
        </mat-optgroup>

        <mat-option class="mat-option-wrap" *ngIf="!item.group" [value]="item[valueProp]" [disabled]="item.disabled">
          {{ item[labelProp] | translate | tokens: to }}
        </mat-option>
      </ng-container>
    </cdk-virtual-scroll-viewport>

  </mat-autocomplete>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>