<div *ngIf="!to.encapsulateLabel" class="flex body-text">
  <!-- This label should not have a for property as the mat-select builds an internal input for the select dropdown that we cannot map to --->
  <label [innerHTML]="((to._translationKey + '.label') | translate) + (to.required ? ' *' : '') | tokens: to | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="(to._translationKey + '.help') | translate | tokens: to" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="select-dropdown-field"
  [ngClass]="{ 'no-label': !to.encapsulateLabel }"
  [appearance]="to.encapsulateLabel && to.appearance ? to.appearance : 'outline'"
  [floatLabel]="to.floatLabel || 'always'">

  <mat-label *ngIf="to.encapsulateLabel" class="body-text">
    {{ (to._translationKey + '.label') | translate | tokens: to }}
  </mat-label>

  <mat-select
    [id]="field.id"
    [aria-label]="(to._translationKey + '.label') | translate | tokens: to"
    [compareWith]="to.compareWith"
    [disableOptionCentering]="to.disableOptionCentering"
    [errorStateMatcher]="errorStateMatcher"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [multiple]="to.multiple"
    [placeholder]="(to._translationKey + '.placeholder') | translate | tokens: to"
    [required]="to.required"
    [tabindex]="to.tabindex || 0"
    [typeaheadDebounceInterval]="to.typeaheadDebounceInterval"
    (selectionChange)="selectionChange($event)">

    <mat-select-trigger *ngIf="to.multiple && to.abbreviateSelection"
      matTooltipClass="use-new-line"
      matTooltip="{{ getSelectedOptionsTooltip() | tokens: to }}">
      {{ getAbbreviatedSelectionLabel() | tokens: to }}
    </mat-select-trigger>

    <ng-container *ngFor="let option of selectOptions$ | async | sortOptions">
      <mat-optgroup *ngIf="option.group" [label]="option.label" [disabled]="option.disabled" [ngClass]="option.classes">
        <mat-option class="mat-option-wrap" *ngFor="let groupItem of option.group | sortOptions" [value]="groupItem[valueProp]" [disabled]="groupItem.disabled" [ngClass]="groupItem.classes">
          {{ groupItem[labelProp] }}
        </mat-option>
      </mat-optgroup>

      <mat-option class="mat-option-wrap" *ngIf="!option.group" [value]="option[valueProp]" [disabled]="option.disabled" [ngClass]="option.classes">
        {{ option[labelProp] }}
      </mat-option>
    </ng-container>

  </mat-select>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>