<div *ngIf="!to.encapsulateLabel">
  <label [for]="field.id" class="body-text">
    {{ to.label | tokens: to }} {{ to.required ? '*' : '' }}
  </label>
</div>

<mat-form-field class="textarea-wrapper"
  [appearance]="to.appearance || 'outline'"
  [floatLabel]="to.floatLabel || 'always'">

  <mat-label *ngIf="to.encapsulateLabel" class="body-text">
    {{ to.label | tokens: to }}
  </mat-label>

  <textarea
    matInput
    class="body-text textarea"
    autocomplete="off"
    resizeToFitContent="false"
    [spellcheck]="true"
    [cdkTextareaAutosize]="true"
    [id]="field.id"
    [cdkAutosizeMinRows]="to.minRows || 4"
    [required]="to.required || false"
    [placeholder]="to.placeholder | tokens: to"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0">
  </textarea>
</mat-form-field>

<div class="errors-and-hints">
  <!-- This should remain hidden as its built from Formly's error states and will not pipe to tokens -->
  <formly-validation-message #validationMessage [field]="field" [style.display]="'none'"></formly-validation-message>

  <mat-error *ngIf="validationMessage.errorMessage && formControl.touched" class="body-text error-text">
    <ng-container *ngIf="validationMessage.errorMessage | isArray; else stringErrorMessage">
      <ng-container *ngFor="let errorMessage of validationMessage.errorMessage; let last = last;">
        {{ errorMessage }}<br *ngIf="!last">
      </ng-container>
    </ng-container>

    <ng-template #stringErrorMessage>
      {{ validationMessage.errorMessage | tokens: to }}
    </ng-template>
  </mat-error>

  <mat-hint *ngIf="to.hint && !(validationMessage.errorMessage && formControl.touched)" class="body-text">{{ to.hint | tokens: to }}</mat-hint>
</div>