<div class="flex fill-width">
  <div class="top-buttons center-content" [style.margin-left]="'auto'">
    <button type="button" mat-button (click)="add()" [disabled]="reorderEnabled">
      <div class="center-content flex">
        <mat-icon>add</mat-icon>

        <div class="pad-left-half" translate>
          Add Field
        </div>
      </div>
    </button>

    <div class="margin-left-2">
      <button type="button" mat-button [disabled]="!field.fieldGroup?.length && !reorderEnabled" (click)="reorderEnabled = !reorderEnabled;">
        {{ reorderEnabled ? ('Edit Fields' | translate)  : ('Reorder Fields' | translate) }}
      </button>
    </div>
  </div>
</div>

<div
  [id]="field.id!"
  class="page-fields"
  cdkDropList
  *ngIf="field.fieldGroup?.length; else noFields"
  [cdkDropListData]="this"
  [cdkDropListAutoScrollStep]="5"
  [cdkDropListDisabled]="!reorderEnabled"
  [cdkDropListConnectedTo]="getConnectedToDropIds()"
  (cdkDropListDropped)="drop($event)">

  <table mat-table [dataSource]="field.fieldGroup || []" class="fill-width">
    <ng-container matColumnDef="_order">
      <td mat-header-cell *matHeaderCellDef class="mat-header-cell" translate>Position</td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Position' | translate">
        {{ row.model?._order }}

        <div class="center-content error" *ngIf="row.formControl?.touched && row.formControl?.invalid" matTooltip="{{ 'Contains errors' | translate }}">
          <mat-icon>error</mat-icon>
          {{ row.content }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <td mat-header-cell *matHeaderCellDef class="mat-header-cell" translate>Category</td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Category' | translate">
        {{ row.model?.category }}
      </td>
    </ng-container>

    <ng-container matColumnDef="basic.type">
      <td mat-header-cell *matHeaderCellDef class="mat-header-cell" translate>Type</td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Type' | translate">
        {{ row.model?.basic?.type }}
      </td>
    </ng-container>

    <ng-container matColumnDef="basic.label">
      <td mat-header-cell *matHeaderCellDef class="mat-header-cell" translate>Label</td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Label' | translate">
        {{ row.model?.basic?.label }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <td mat-header-cell *matHeaderCellDef [attr.aria-label]="'Edit Field Buttons Column' | translate"></td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Delete, Preview, and Edit buttons' | translate">

        <div class="svg-icon" *ngIf="!reorderEnabled">
          <button type="button" mat-icon-button (click)="confirmRemoval(row)">
            <div class="center-content flex">
              <mat-icon>delete</mat-icon>
            </div>
          </button>

          <button type="button" mat-icon-button (click)="preview(row)">
            <div class="center-content flex">
              <mat-icon>preview</mat-icon>
            </div>
          </button>

          <button type="button" mat-icon-button (click)="edit(row)">
            <div class="center-content flex">
              <mat-icon>edit</mat-icon>
            </div>
          </button>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row 
      *matRowDef="let row; columns: columnsToDisplay;"
      cdkDrag
      cdkDragLockAxis="y"
      [cdkDragData]="this"
      [ngStyle]="reorderEnabled && { 'cursor': 'move' } || {}">
    </tr>
  </table>

</div>

<errors-and-hints [field]="field"></errors-and-hints>

<ng-template #noFields>
  <div
    [id]="field.id!"
    class="flex page-fields center-content"
    cdkDropList
    [cdkDropListData]="this"
    [cdkDropListAutoScrollStep]="5"
    [cdkDropListConnectedTo]="getConnectedToDropIds()"
    (cdkDropListDropped)="drop($event)"
    translate>
    No Fields Configured
  </div>
</ng-template>