<div class="top-buttons center-content" [style.margin-left]="'auto'">
  <button mat-flat-button color="primary" (click)="add()" [disabled]="reorderEnabled" extended>
    <mat-icon>add</mat-icon>
    Add Field
  </button>

  <button mat-button [disabled]="!field.fieldGroup?.length && !reorderEnabled" (click)="reorderEnabled = !reorderEnabled;">
    {{ reorderEnabled ? 'Edit Fields'  : 'Reorder Fields' }}
  </button>
</div>

<div
  [id]="field.id!"
  class="page-fields"
  cdkDropList
  *ngIf="field.fieldGroup?.length; else noFields"
  [cdkDropListData]="this"
  [cdkDropListAutoScrollStep]="5"
  [cdkDropListDisabled]="!reorderEnabled"
  [cdkDropListConnectedTo]="getConnectedToDropIds()"
  (cdkDropListDropped)="drop($event)">

  <table mat-table [dataSource]="field.fieldGroup || []" class="fill-width">
    <ng-container matColumnDef="_order">
      <td mat-header-cell *matHeaderCellDef class="mat-header-cell">Position</td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Position'">
        {{ row.model?._order }}

        <div class="center-content error" *ngIf="row.formControl?.touched && row.formControl?.invalid" matTooltip="Contains errors">
          <mat-icon>error</mat-icon>
          {{ row.content }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <td mat-header-cell *matHeaderCellDef class="mat-header-cell">Category</td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Category'">
        {{ row.model?.category }}
      </td>
    </ng-container>

    <ng-container matColumnDef="basic.type">
      <td mat-header-cell *matHeaderCellDef class="mat-header-cell">Type</td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Type'">
        {{ row.model?.basic?.type }}
      </td>
    </ng-container>

    <ng-container matColumnDef="basic.label">
      <td mat-header-cell *matHeaderCellDef class="mat-header-cell">Label</td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Label'">
        {{ row.model?.basic?.label }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <td mat-header-cell *matHeaderCellDef [attr.aria-label]="'Edit Field Buttons Column'"></td>
      <td mat-cell *matCellDef="let row" [attr.data-label]="'Delete, Preview, and Edit buttons'">

        <div class="svg-icon" *ngIf="!reorderEnabled">
          <button type="button" mat-icon-button (click)="confirmRemoval(row)">
            <div class="center-content flex">
              <mat-icon>delete</mat-icon>
            </div>
          </button>

          <button type="button" mat-icon-button (click)="preview(row)">
            <div class="center-content flex">
              <mat-icon>preview</mat-icon>
            </div>
          </button>

          <button type="button" mat-icon-button (click)="edit(row)">
            <div class="center-content flex">
              <mat-icon>edit</mat-icon>
            </div>
          </button>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row 
      *matRowDef="let row; columns: columnsToDisplay;"
      cdkDrag
      cdkDragLockAxis="y"
      [cdkDragData]="this"
      [ngStyle]="reorderEnabled && { 'cursor': 'move' } || {}">
    </tr>
  </table>
</div>

<errors-and-hints [field]="field"></errors-and-hints>

<ng-template #noFields>
  <div
    [id]="field.id!"
    class="flex page-fields center-content"
    cdkDropList
    [cdkDropListData]="this"
    [cdkDropListAutoScrollStep]="5"
    [cdkDropListConnectedTo]="getConnectedToDropIds()"
    (cdkDropListDropped)="drop($event)"
    >
    No Fields Configured
  </div>
</ng-template>