<div #emptyAnchor></div>

<div class="app-background-color-default" cdkDrag cdkDragBoundary=".cdk-overlay-container" cdkDragRootElement=".cdk-overlay-pane">
  <div class="header-content mat-card-title row" cdkDragHandle>
    <div *ngIf="categoryLabel">{{ categoryLabel }}</div>

    <div class="svg-icon">
      <button type="button" mat-icon-button (click)="toggleSize()">
        <div class="center-content flex">
          <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
          <mat-icon *ngIf="isFullScreen">close_fullscreen</mat-icon>
        </div>
      </button>
    </div>
  </div>
</div>

<div class="center-content field-content">
  <formly-field [field]="field" [ngClass]="field.props?.classes"></formly-field>
</div>

<div class="flex row buttons" *ngIf="!field.formControl?.disabled && isNewlyAdded; else showCloseOnly">
  <button type="button" mat-button (click)="resetAndClose()">
    <div class="center flex row">
      <mat-icon class="material-icons-outlined margin-right-half" [inline]="true">undo</mat-icon>
      <div>Remove & Close</div>
    </div>
  </button>

  <div class="align-end pad-left" [hidden]="!categorySelectionComplete">
    <button
      mat-raised-button
      color="primary"
      [disabled]="field.formControl?.invalid"
      (click)="updateAndClose()">
      <div>Save & Close</div>
    </button>
  </div>

  <ng-container *ngIf="!categorySelectionComplete && categoryField;">
    <div class="align-end pad-left">
      <button type="button" mat-raised-button color="primary" [disabled]="categoryField.formControl?.invalid" (click)="onSelectedCategory()">
        <div>Continue</div>
      </button>
    </div>
  </ng-container>
</div>

<ng-template #showCloseOnly>
  <div class="flex row buttons">
    <div class="align-end pad-left">
      <button mat-raised-button color="primary" (click)="dialogRef.close()" cdkFocusInitial>
        <div>Close</div>
      </button>
    </div>
  </div>
</ng-template>