<div #emptyAnchor></div>

<div
  cdkDrag
  class="drag-container flex-column"
  cdkDragBoundary=".cdk-overlay-container"
  cdkDragRootElement=".cdk-overlay-pane">

  <div
    cdkDragHandle
    class="flex-column"
    [cdkDragHandleDisabled]="mouseIsHovered">

    <div class="dialog-header">
      <h2 mat-dialog-title role="heading" aria-level="2">{{ categoryLabel}}</h2>

      <button mat-icon-button (click)="toggleSize()" (mouseenter)="mouseIsHovered = true" (mouseleave)="mouseIsHovered = false">
        <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
        <mat-icon *ngIf="isFullScreen">close_fullscreen</mat-icon>
      </button>
    </div>

    <div mat-dialog-content>
      <formly-field
        [field]="field"
        [ngClass]="field.props?.classes"
        (mouseenter)="mouseIsHovered = true"
        (mouseleave)="mouseIsHovered = false"
        cdkFocusInitial>
      </formly-field>
    </div>

    <mat-dialog-actions class="buttons" [align]="'end'">
      <ng-container *ngIf="!field.formControl?.disabled && isNewlyAdded">
        <button
          mat-flat-button
          (click)="resetAndClose()"
          (mouseenter)="mouseIsHovered = true"
          (mouseleave)="mouseIsHovered = false"
          extended>
          <mat-icon>undo</mat-icon>
          Remove & Close
        </button>

        <button
          mat-raised-button
          color="primary"
          [disabled]="field.formControl?.invalid"
          [hidden]="!categorySelectionComplete"
          (mouseenter)="mouseIsHovered = true"
          (mouseleave)="mouseIsHovered = false"
          (click)="updateAndClose()">
          Save & Close
        </button>

        <button
          *ngIf="!categorySelectionComplete && categoryField;"
          mat-raised-button color="primary"
          [disabled]="categoryField.formControl?.invalid"
          (mouseenter)="mouseIsHovered = true"
          (mouseleave)="mouseIsHovered = false"
          (click)="onSelectedCategory()">
          Continue
        </button>
      </ng-container>

      <button
        *ngIf="!(!field.formControl?.disabled && isNewlyAdded)"
        mat-raised-button color="primary"
        (mouseenter)="mouseIsHovered = true"
        (mouseleave)="mouseIsHovered = false"
        (click)="dialogRef.close()"
        cdkFocusInitial>
        Close
      </button>
    </mat-dialog-actions>
  </div>
</div>