<div class="flex fill-width margin-top">
  <div class="top-buttons center-content body-text" [style.margin-left]="'auto'">
    <button type="button" mat-button (click)="add()">
      <div class="center-content flex">
        <mat-icon>add</mat-icon>

        <div class="pad-left-half" translate>
          Add Token
        </div>
      </div>
    </button>
  </div>
</div>

<div class="tokens">
  <div *ngFor="let token of field.fieldGroup" class="flex row margin-half pad-half mat-elevation-z1">

    <div *ngIf="getConfiguredToken(token) as configuredToken; else notConfigured" class="subtitle-filled token-info">
      <div class="display-summary margin-bottom-half">
        <div class="label" translate>Name</div>{{ configuredToken.name | truncate: 100 }}
      </div>

      <div class="display-summary margin-bottom-half">
        <div class="label" translate>Category</div>{{ configuredToken.category | truncate: 100 }}
      </div>

      <div class="display-summary">
        <div class="label" translate>Type</div>{{ configuredToken.type | truncate: 100 }}
      </div>
    </div>

    <ng-template #notConfigured>
      <div class="subtitle-filled bold" translate>
        TOKEN NOT CONFIGURED
      </div>
    </ng-template>

    <div class="svg-icon">
      <button type="button" mat-icon-button (click)="edit(token)">
        <div class="center-content flex">
          <mat-icon>edit</mat-icon>
        </div>
      </button>
    </div>
  </div>
</div>