
:host {
  display: block;
  padding-top: 1em;
}

:host ::ng-deep mat-form-field mat-label {
  font-size: 21px !important;
}

:host ::ng-deep mat-form-field.no-label .mat-form-field-wrapper .mat-form-field-flex {
  padding: 0 0.75em !important;

  .mat-form-field-infix {
    border-top: 0.5em solid transparent !important;
  }
}

mat-form-field {
  width: 100%;
}

.input-field {
  width: 100%;
  max-width: 45em;
}
