
.statement {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: [left] auto [middle] auto [right] auto;

  overflow: auto;
}

:host ::ng-deep {
  object-type {
    width: unset;
    height: unset;
  }
}
