
<div class="bold">
  {{ props.label + (props.required ? ' *' : '') }}
</div>

<mat-button-toggle-group
  class="input-field"
  [id]="field.id!"
  [formlyAttributes]="field"
  [formControl]="$any(formControl)"
  [required]="props.required ?? false"
  [tabindex]="props.tabindex || 0"
  [aria-label]="props.label"
  [vertical]="true"
  [ngClass]="props.classes">

  <mat-button-toggle *ngFor="let option of selectOptions$ | async" [value]="option.value" [disabled]="option.disabled">
    {{ option.label }}
  </mat-button-toggle>
</mat-button-toggle-group>

<errors-and-hints [field]="field"></errors-and-hints>