
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.graph-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
