<div *ngIf="props.showLabelAbove" class="flex">
  <label [for]="field.id" [innerHTML]="props.label + (props.required ? ' *' : '') | keepHtml"></label>

  <mat-icon *ngIf="props.help" class="label-help" [matTooltip]="props.help" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="input-field"
  [appearance]="!props.showLabelAbove && props.appearance ? props.appearance : 'outline'"
  [floatLabel]="props.floatLabel || 'always'"
  [ngClass]="{ 'no-label': props.showLabelAbove }">

  <mat-label *ngIf="!props.showLabelAbove">
    {{ props.label }}
  </mat-label>

  <input matInput
    #currencyinput
    type="text"
    autocomplete="off"
    (keydown)="keyPress($event)"
    (paste)="onPaste($event)"
    (keyup)="keyUp($event)"
    (change)="keyUp($event); formatCurrencyInput();"
    (click)="formatCurrencyInput()"
    (blur)="formatCurrencyInput()"
    [id]="field.id!"
    [required]="props.required ?? false"
    [spellcheck]="true"
    [placeholder]="amountField?.props?.placeholder ?? ''"
    [formlyAttributes]="field"
    [tabindex]="props.tabindex || 0" />

    <div class="prefix" matPrefix>
      <mat-select
        *ngIf="currencySelection"
        [id]="field.id!"
        [aria-label]="currencySelection.props?.label ?? ''"
        [formControl]="getFormControl(currencySelection.formControl!)"
        [formlyAttributes]="currencySelection"
        [disableOptionCentering]="true"
        [placeholder]="currencySelection.props?.placeholder ?? ''"
        [required]="currencySelection.props?.required ?? false"
        [tabindex]="currencySelection.props?.tabindex || 0"
        [typeaheadDebounceInterval]="currencySelection.props?.typeaheadDebounceInterval">

        <ng-container *ngFor="let item of currencyOptions | sortOptions">
          <mat-option class="mat-option-wrap" [value]="item.value" [disabled]="item.disabled">
            {{ item.label }}
          </mat-option>
        </ng-container>
      </mat-select>

      <div *ngIf="prefixSymbol">
        {{ prefixSymbol }}
      </div>
      <div *ngIf="suffixSymbol" class="suffix" [style.transform]="'translate(' + (currencyinput.clientWidth + 17) + 'px, 0)'">
        {{ suffixSymbol }}
      </div>

    </div>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>