<div *ngIf="!to.encapsulateLabel" class="flex body-text">
  <label [for]="field.id" [innerHTML]="((to._translationKey + '.label') | translate) + (to.required ? ' *' : '') | tokens: to | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="(to._translationKey + '.help') | translate | tokens: to" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="input-field"
  [appearance]="to.encapsulateLabel && to.appearance ? to.appearance : 'outline'"
  [floatLabel]="to.floatLabel || 'always'"
  [ngClass]="{ 'no-label': !to.encapsulateLabel }">

  <mat-label *ngIf="to.encapsulateLabel" class="body-text">
    {{ (to._translationKey + '.label') | translate | tokens: to }}
  </mat-label>

  <input matInput
    #currencyinput
    type="text"
    autocomplete="off"
    (keydown)="keyPress($event)"
    (paste)="onPaste($event)"
    (keyup)="keyUp($event)"
    (change)="keyUp($event); formatCurrencyInput();"
    (click)="formatCurrencyInput()"
    (blur)="formatCurrencyInput()"
    [id]="field.id"
    [spellcheck]="true"
    [placeholder]="(to._translationKey + '.placeholder') | translate | tokens: to"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0" />

    <div class="prefix" matPrefix>
      <mat-select
        *ngIf="currencySelection"
        [id]="field.id"
        [aria-label]="currencySelection.templateOptions.label | tokens: currencySelection.templateOptions"
        [formControl]="currencySelection.formControl"
        [formlyAttributes]="currencySelection"
        [disableOptionCentering]="true"
        [placeholder]="currencySelection.templateOptions.placeholder | tokens: currencySelection.templateOptions"
        [required]="currencySelection.templateOptions.required"
        [tabindex]="currencySelection.templateOptions.tabindex || 0"
        [typeaheadDebounceInterval]="currencySelection.templateOptions.typeaheadDebounceInterval">

        <ng-container *ngFor="let item of currencyOptions | sortOptions">
          <mat-option class="mat-option-wrap" [value]="item.value" [disabled]="item.disabled">
            {{ item.label }}
          </mat-option>
        </ng-container>
      </mat-select>

      <div *ngIf="prefixSymbol">
        {{ prefixSymbol }}
      </div>
      <div *ngIf="suffixSymbol" class="suffix" [style.transform]="'translate(' + (currencyinput.clientWidth + 17) + 'px, 0)'">
        {{ suffixSymbol }}
      </div>

    </div>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>