<div *ngIf="!to.encapsulateLabel" class="flex">
  <label [for]="field.id" [innerHTML]="to.label + (to.required ? ' *' : '') | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="to.help" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="input-field"
  [appearance]="to.encapsulateLabel && to.appearance ? to.appearance : 'outline'"
  [floatLabel]="to.floatLabel || 'always'"
  [ngClass]="{ 'no-label': !to.encapsulateLabel }">

  <mat-label *ngIf="to.encapsulateLabel">
    {{ to.label }}
  </mat-label>

  <input matInput
    #currencyinput
    type="text"
    autocomplete="off"
    (keydown)="keyPress($event)"
    (paste)="onPaste($event)"
    (keyup)="keyUp($event)"
    (change)="keyUp($event); formatCurrencyInput();"
    (click)="formatCurrencyInput()"
    (blur)="formatCurrencyInput()"
    [id]="field.id!"
    [spellcheck]="true"
    [placeholder]="to.placeholder ?? ''"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0" />

    <div class="prefix" matPrefix>
      <mat-select
        *ngIf="currencySelection"
        [id]="field.id!"
        [aria-label]="currencySelection.templateOptions?.label ?? ''"
        [formControl]="getFormControl(currencySelection.formControl!)"
        [formlyAttributes]="currencySelection"
        [disableOptionCentering]="true"
        [placeholder]="currencySelection.templateOptions?.placeholder ?? ''"
        [required]="currencySelection.templateOptions?.required ?? false"
        [tabindex]="currencySelection.templateOptions?.tabindex || 0"
        [typeaheadDebounceInterval]="currencySelection.templateOptions?.typeaheadDebounceInterval">

        <ng-container *ngFor="let item of currencyOptions | sortOptions">
          <mat-option class="mat-option-wrap" [value]="item.value" [disabled]="item.disabled">
            {{ item.label }}
          </mat-option>
        </ng-container>
      </mat-select>

      <div *ngIf="prefixSymbol">
        {{ prefixSymbol }}
      </div>
      <div *ngIf="suffixSymbol" class="suffix" [style.transform]="'translate(' + (currencyinput.clientWidth + 17) + 'px, 0)'">
        {{ suffixSymbol }}
      </div>

    </div>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>