
:host {
  height: calc(100% + 48px);
  width: calc(100% + 48px);
  min-width: 375px;
  margin: -24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: white;
  padding: 12px 24px;
}

.statement {
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  formly-field {
    min-width: 250px;
  }

  .comparison-selections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 959px) {
  .statement .comparison-selections {
    flex-direction: column;
  }
}

.buttons {
  padding: 1em 24px 12px 24px;
  flex-wrap: nowrap;
  margin-top: auto;
	justify-content: space-between;
}

.svg-icon {
  width: 3em;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  display: flex;
}
