
.custom-date-input-container {
  display: flex;
  flex-direction: row;
}

.custom-date-input-element {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  padding: 0;
  margin: 0;
  text-align: center;
}

.custom-date-input-spacer {
  padding: 0 0.25em;
}
