<div *ngIf="!to.encapsulateLabel" class="flex body-text">
  <label [for]="field.id" [innerHTML]="(to._translationKeyLabel | translate) + (to.required ? ' *' : '') | tokens: to | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="to._translationKeyHelp | translate | tokens: to" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="input-field"
  [appearance]="to.encapsulateLabel && to.appearance ? to.appearance : 'outline'"
  [floatLabel]="to.floatLabel || 'always'"
  [ngClass]="{ 'no-label': !to.encapsulateLabel }">

  <mat-label *ngIf="to.encapsulateLabel" class="body-text">
    {{ to._translationKeyLabel | translate | tokens: to }}
  </mat-label>

  <input matInput
    autocomplete="off"
    type="number"
    [id]="field.id!"
    [spellcheck]="true"
    [maxlength]="to.maxlength || 256"
    [placeholder]="to._translationKeyPlaceholder | translate | tokens: to"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0" />
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>