<!-- <ngx-graph class="app-graph"
  [links]="edges"
  [nodes]="nodes"
  [layout]="configuration.layout"
  [view]="configuration.viewSize"
  [clusters]="clusters"
  [curve]="graphCurve"
  [autoCenter]="configuration.autoCenter"
  [autoZoom]="configuration.autoZoom"
  [draggingEnabled]="configuration.draggingEnabled"
  [enableZoom]="configuration.enableZoom"
  [panningEnabled]="configuration.panningEnabled"
  [panOnZoom]="configuration.panOnZoom"
  [showMiniMap]="configuration.showMiniMap"
  [minZoomLevel]="configuration.minZoomLevel"
  [maxZoomLevel]="configuration.maxZoomLevel"
  [zoomLevel]="configuration.zoomLevel"
  [zoomSpeed]="configuration.zoomSpeed"
  [center$]="centerGraph$"
  [update$]="updateGraph$"
  [zoomToFit$]="zoomToFit$">

  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>

  <ng-template #clusterTemplate let-cluster>
    <svg:g class="node cluster">
      <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height" [attr.fill]="cluster.data.color" />
    </svg:g>
  </ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g class="node" xmlns="http://www.w3.org/2000/xhtml" [attr.width]="node.dimension.width" [attr.height]="node.dimension.height">
      <svg:foreignObject [attr.width]="node.dimension.width" [attr.height]="node.dimension.height">
        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="node-content" [style.background-color]="node.data.color">
          <mat-icon *ngIf="node.data.showOpen" (click)="node.data.clickFunction(node.data.fieldToEdit)">open_in_new</mat-icon>
          <div class="display-statement">
            <label>{{ node.label }}</label>
            <label>{{ node.data.description }}</label>
          </div>
        </xhtml:div>
      </svg:foreignObject>
    </svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path class="line" stroke-width="2"></svg:path>
      <svg:text class="edge-label" text-anchor="middle">
        <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">{{ link.label }}</textPath>
      </svg:text>
    </svg:g>
  </ng-template>
</ngx-graph> -->