<div class="flex body-text">
  <label [id]="field.id + '_label'" [innerHTML]="(to._translationKeyLabel | translate) + (to.required ? ' *' : '') | tokens: to | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="to._translationKeyHelp | translate | tokens: to" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="input-field"
  [appearance]="to.appearance || 'outline'"
  [ngClass]="{ 'mat-form-field-invalid': formControl.invalid && (formControl.dirty || formControl.touched) }">

  <custom-date-input
    [id]="field.id!"
    [describedBy]="field.id + '_label'"
    [formControl]="formControl">
  </custom-date-input>

  <input
    type="hidden"
    autocomplete="off"
    [value]="dateViewModel"
    [matDatepicker]="picker"
    (dateChange)="dateChange($event)" />

  <mat-datepicker #picker></mat-datepicker>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>