<div class="flex fill-width">
  <div class="top-buttons center-content" [style.margin-left]="'auto'">
    <button type="button" mat-button (click)="add()" [disabled]="field.fieldGroup?.length">
      <div class="center-content flex">
        <mat-icon>add</mat-icon>

        <div class="pad-left-half" translate>
          Add Condition
        </div>
      </div>
    </button>
  </div>
</div>

<div class="condition">
  <formly-field *ngIf="leftHandSide" [field]="leftHandSide" [ngClass]="leftHandSide.templateOptions?.classes"></formly-field>
  <formly-field *ngIf="operator" [field]="operator" [ngClass]="operator.templateOptions?.classes"></formly-field>
  <formly-field *ngIf="rightHandSide" [field]="rightHandSide" [ngClass]="rightHandSide.templateOptions?.classes"></formly-field>
</div>
