<!-- This should remain hidden as its built from Formly's error states -->
<formly-validation-message #validationMessage [field]="field" [style.display]="'none'"></formly-validation-message>

<mat-error *ngIf="validationMessage.errorMessage && field?.formControl?.touched" class="error-text">
  <ng-container *ngFor="let errorMessage of getErrorMessages(validationMessage.errorMessage); let last = last;">
    {{ errorMessage }}<br *ngIf="!last">
  </ng-container>
</mat-error>

<mat-hint *ngIf="field?.props?.hint && !(validationMessage.errorMessage && field?.formControl?.touched)">
  {{ field.props.hint }}
</mat-hint>