<mat-radio-group
  class="radio-group"
  color="primary"
  [id]="field.id"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [required]="to.required">

  <fieldset class="fieldset" [ngClass]="to.classes">
    <legend class="flex body-text">
      <div [innerHTML]="((to._translationKey + '.label') | translate) + (to.required ? ' *' : '') | tokens: to | keepHtml"></div>

      <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="(to._translationKey + '.help') | translate | tokens: to" matTooltipClass="mat-tooltip-content">help</mat-icon>
    </legend>

    <ng-container *ngFor="let option of selectOptions$ | async | sortOptions">
      <mat-radio-button class="mat-radio-button-wrap" [value]="option[valueProp]" [disabled]="option.disabled" [ngClass]="option.classes">
        {{ option[labelProp] | translate | tokens: to }}
      </mat-radio-button>
    </ng-container>
  </fieldset>
</mat-radio-group>

<errors-and-hints [field]="field"></errors-and-hints>