<mat-radio-group
  class="radio-group"
  color="primary"
  [id]="field.id!"
  [formControl]="$any(formControl)"
  [formlyAttributes]="field"
  [required]="props.required ?? false">

  <fieldset class="fieldset" [ngClass]="props.classes">
    <legend class="flex">
      <div [innerHTML]="props.label + (props.required ? ' *' : '') | keepHtml"></div>

      <mat-icon *ngIf="props.help" class="label-help" [matTooltip]="props.help" matTooltipClass="mat-tooltip-content">help</mat-icon>
    </legend>

    <ng-container *ngFor="let option of selectOptions$ | async | sortOptions">
      <mat-radio-button class="mat-radio-button-wrap" [value]="option[valueProp]" [disabled]="option.disabled" [ngClass]="option.classes">
        {{ option[labelProp] }}
      </mat-radio-button>
    </ng-container>
  </fieldset>
</mat-radio-group>

<errors-and-hints [field]="field"></errors-and-hints>