<div class="flex body-text">
  <label [id]="field.id + '_label'" [innerHTML]="to.label + (to.required ? ' *' : '') | tokens: to | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="to.help" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="input-field"
  [appearance]="to.appearance || 'fill'"
  [ngClass]="{ 'mat-form-field-invalid': formControl.invalid && (formControl.dirty || formControl.touched) }">

  <custom-date-input
    [id]="field.id"
    [describedBy]="field.id + '_label'"
    [formControl]="formControl">
  </custom-date-input>

  <input
    type="hidden"
    autocomplete="off"
    [value]="dateViewModel"
    [matDatepicker]="picker"
    (dateChange)="dateChange($event)" />

  <mat-datepicker #picker></mat-datepicker>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
</mat-form-field>

<div class="errors-and-hints">
  <!-- This should remain hidden as its built from Formly's error states and will not pipe to tokens -->
  <formly-validation-message #validationMessage [field]="field" [style.display]="'none'"></formly-validation-message>

  <mat-error *ngIf="validationMessage.errorMessage && formControl?.touched" class="body-text error-text">
    <ng-container *ngIf="validationMessage.errorMessage | isArray; else stringErrorMessage">
      <ng-container *ngFor="let errorMessage of validationMessage.errorMessage; let last = last;">
        {{ errorMessage }}<br *ngIf="!last">
      </ng-container>
    </ng-container>

    <ng-template #stringErrorMessage>
      {{ validationMessage.errorMessage | tokens: to }}
    </ng-template>
  </mat-error>

  <mat-hint *ngIf="to.hint && !(validationMessage.errorMessage && formControl?.touched)" class="body-text">{{ to.hint | tokens: to }}</mat-hint>
</div>