
:host {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

:host ::ng-deep mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  padding: 0 0.75em 0 !important;
  align-items: end;

  .mat-form-field-infix {
    width: unset;
    border-top: 0.5em solid transparent !important;
  }
}

:host ::ng-deep .mat-form-field-suffix .mat-icon-button {
  height: unset !important;
  width: unset !important;
}

.input-field {
  width: fit-content;
  max-width: 45em;
}

.label {
  margin: 0;
}