<div class="top-buttons">
  <button mat-flat-button (click)="add()" [disabled]="reorderEnabled" extended>
    <mat-icon>add</mat-icon>
    Add Page
  </button>

  <button mat-flat-button [disabled]="!field.fieldGroup?.length" (click)="reorderEnabled = !reorderEnabled; reorderEnabled ? accordion && accordion.closeAll() : null;">
    {{ reorderEnabled ? 'Edit Pages' : 'Edit Form' }}
  </button>
</div>

<div
  class="form-pages"
  cdkDropList
  [cdkDropListDisabled]="!reorderEnabled"
  (cdkDropListDropped)="reorderPage($event)"
  [cdkDropListAutoScrollStep]="5">

  <mat-accordion #accordian multi>

    <mat-expansion-panel
      class="custom-expansion-panel"
      cdkDrag
      cdkDragLockAxis="y"
      *ngFor="let page of field.fieldGroup; let i = index;"
      [expanded]="field.fieldGroup?.length! < 2 || addedIndex === i"
      [id]="page.id"
      [disabled]="reorderEnabled"
      [ngStyle]="reorderEnabled && { 'cursor': 'move' } || {}">

      <mat-expansion-panel-header [ngClass]="{ 'remove-disable-shading': reorderEnabled }">
        <div class="fill center-content header-contents">
          <mat-panel-title class="page-summary">
            <div class="summary-row">
              <div class="row-label">Position</div>{{ page.model?._order }}
            </div>

            <div class="summary-row" [matTooltip]="page.model?._referenceId">
              <div class="row-label">Label</div>{{ page.model?.settings?.label | truncate: 150 }}
            </div>
          </mat-panel-title>

          <div style="margin-left: auto; margin-right: 1em;">
            <div class="center-content error" *ngIf="page.formControl?.touched && page.formControl?.invalid" matTooltip="Page contains errors">
              <mat-icon>error</mat-icon>
            </div>
          </div>

          <div *ngIf="reorderEnabled" class="center-content">
            <button type="button" mat-icon-button (click)="confirmRemoval(page)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <formly-field [field]="page" [ngClass]="page.props?.classes"></formly-field>
      </ng-template>

    </mat-expansion-panel>

  </mat-accordion>
</div>

<errors-and-hints [field]="field"></errors-and-hints>