<div *ngIf="to.showLabelAbove" class="flex">
  <label [for]="field.id" [innerHTML]="to.label + (to.required ? ' *' : '') | keepHtml"></label>

  <mat-icon *ngIf="to.help" class="label-help" [matTooltip]="to.help" matTooltipClass="mat-tooltip-content">help</mat-icon>
</div>

<mat-form-field
  class="input-field"
  [appearance]="!to.showLabelAbove && to.appearance ? to.appearance : 'outline'"
  [floatLabel]="to.floatLabel || 'always'"
  [ngClass]="{ 'no-label': to.showLabelAbove }">

  <mat-label *ngIf="!to.showLabelAbove">
    {{ to.label }}
  </mat-label>

  <input matInput
    autocomplete="off"
    [id]="field.id!"
    [type]="to.type || 'text'"
    [spellcheck]="true"
    [maxlength]="to.maxlength || 256"
    [required]="to.required ?? false"
    [placeholder]="to.placeholder ?? ''"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [tabindex]="to.tabindex || 0" />
</mat-form-field>

<errors-and-hints [field]="field"></errors-and-hints>