@use '@angular/material' as mat;
@import '@angular/material/_theming';
@include mat.core();

$fonts: Roboto, sans-serif;
$app-primary: mat.define-palette(mat.$indigo-palette, 800, 400, 900);
$app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette, 900);
$app-typography: mat.define-typography-config(
  $font-family: $fonts
);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn
  ),
  typography: $app-typography,
  density: 0
));

@include mat.all-component-themes($app-theme);

html, body {
  background: #EEE;

  font-family: $fonts;
  text-rendering: optimizeLegibility !important;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.size-with-padding {
  box-sizing : border-box;
}

.fill-width {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.center {
  align-items: center;
  justify-content: center;
}

.center-self {
  align-self: center;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noscrollX {
  overflow-x: hidden;
}

.noscrollY {
  overflow-y: hidden;
}

.align-end {
	margin-left: auto;
}

.pointer {
  cursor: pointer;
}

// Makes asterisk color for required field same as text (for WCAG complicance - contrast)
.mat-form-field.mat-form-field-should-float.mat-focused .mat-form-field-required-marker {
  color: #283593;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #b00020 !important;
}

// Makes asterisk color for required field same as text for invalid fields (for WCAG complicance - contrast)
.mat-form-field.mat-form-field-invalid .mat-form-field-required-marker { 
  color: #b00020 !important;
}

.warning {
  background: #FFD600;
}

.nowrap {
  white-space: nowrap;
}

.wrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-tooltip-content {
  max-width: unset;
  word-break: break-word;
  white-space: pre-line;
}

.use-new-line {
  white-space: pre-line;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.2 !important;
  }
}

.cdk-overlay-pane.resizable-overlay {
  width: unset !important;
  height: unset !important;
  max-width: 100% !important;
}

.resizable-overlay .mat-dialog-container {
  height: unset;
  resize: both;
}

.formly-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.hide-element {
  transform: translate(-150vw, 0);
  display: inline-block;
  position: absolute;
}

.label-help {
  cursor: pointer;
  margin-left: 0.25em;
}

mat-form-field.mat-form-field-appearance-outline {
  padding-top: 0.5em;
  margin-bottom: 1em;
}