<ng-container *ngIf="!fieldToEdit; else editField">
  <div class="mat-elevation-z2 mat-table-container">
    <table mat-table [dataSource]="datasource" class="fill-width">

      <!-- Build Headers -->
      <ng-container *ngFor="let column of to.columns | sortOptions" matColumnDef="{{ column.path }}">
        <th mat-header-cell *matHeaderCellDef class="pad-right" [ngClass]="column.classes">{{ column.label }}</th>

        <td mat-cell *matCellDef="let row" title="{{ getValue(row.model.fields, column.path) }}">
          <!-- No Buttons to show -->
          <div *ngIf="column.type === 'data'" [innerHTML]="getValue(row.model.fields, column.path)"></div>

          <!-- Have Buttons or Icons to show -->
          <div *ngIf="column.type === 'buttons'" class="flex row center-content">
            <!-- Edit Button -->
            <button class="edit-button" type="button" mat-icon-button (click)="edit(row)">
              <div class="center-content">
                <mat-icon *ngIf="!row.model.complete && row.formControl?.touched" class="required-row">error</mat-icon>
                <mat-icon>edit</mat-icon>
              </div>
            </button>

            <!-- Remove Button -->
            <ng-container *ngIf="!row.model.required">
              <button class="delete-button" type="button" mat-icon-button (click)="remove(row)">
                <div class="center-content">
                  <mat-icon>delete_forever</mat-icon>
                </div>
              </button>
            </ng-container>
          </div>

          <div *ngIf="column.type === 'icons'" class="flex row">
            <ng-container *ngIf="row.model.required">
              <!-- Complete Icon -->
              <div class="center-content" *ngIf="row.model.complete">
                <mat-icon>done</mat-icon>
                {{ row.content }}
              </div>

              <!-- Not Completed Icon -->
              <div class="center-content" *ngIf="!row.model.complete" [ngStyle]="row.formControl?.touched && { 'color': '#b00020' } || {}">
                <mat-icon>cancel</mat-icon>
                {{ row.content }}
              </div>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="add-button" *ngIf="to.showAddButton">
    <button type="button" mat-button color="primary" (click)="add()">
      <div class="center-content" [ngClass]="to.addButtonConfig?.classes">
        <mat-icon *ngIf="!to.addButtonConfig?.hideIcon">add</mat-icon>
        {{ to.addButtonConfig?.buttonText || ('Add' | translate) }}
      </div>
    </button>
  </div>
</ng-container>

<ng-template #editField>
  <formly-field [field]="fieldToEdit"></formly-field>
</ng-template>