
.mat-table-container {
  margin-top: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
}

.mat-header-cell {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.mat-cell-with-buttons {
  width: 1px;
}

.add-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.required-row {
  padding-left: 0.5rem;
  color: #b00020;
}

.edit-button {
  margin-left: auto !important;
}

.delete-button {
  margin-left: 2em !important;
}
